@model IEnumerable<CacheSqlMVC.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    //<h3> @Model.</h3>
    <h2>Previous Date - @ViewBag.PreviousDate</h2>
    <h2>Current Date- @ViewBag.CurrentDate</h2>
</div>

@foreach (var item in Model)
{
    <div class="text-center">
        @*//<li>Cached Time: @Model.ProductID</li>*@
        <h3 class="display-4">@Html.DisplayFor(modelItem => item.ProductName)</h3>
    </div>
}
